#side_nav{
    margin-top: 60px;
}

#side_nav dt{
   /*border-right:1px solid black;*/
    display:block;
    padding: 5px 10px 5px 0px;
    text-transform: uppercase;
    font-size: 18px;
}

#side_nav a{
    color: brown;
    font-family:Verdana;
    font-weight: bold;
}

#schedule_content{
    margin-top: 50px;

}

#schedule_content h2{
    text-decoration:underline;
    font-size: 25px;
}
#schedule_content h4{
    color: brown;
}

#topbar a{
    color: white;
}