#topbar{
	background-color:maroon;
	border-bottom: 4px solid #E9B448;
	padding-top:15px;
	position:fixed;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;

}


#topbar li {
	display: inline;
	padding-right:20px;
}

#nav li:last-child {

    padding-right:0px;
}

#topbar li a{
	color:white;
}

#topbar strong a.button{
	padding:6px 8px 2px 8px;
}

#topbar h3 {
	color: white;
	font-size:1.9rem;

}


.main-content{
	margin-top:20px;
	padding-top:50px;
    background-color: #fdf3df;

}

#padding{
	padding-top:20px;
}

#nav {

       	border-bottom: 1px solid #DDDDDD;
    	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

}

#center{
    text-align: center;

}

#nav li {

	display: inline;
	padding-right:30px;
	
}

.footer{
	margin-top:20px;
	border-top: 1px solid #DDDDDD;
    	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.main-content div{
	margin-top:;
}


.main-content h3 {
	color:#800000;
}
	
